.container-info{
    display: flex;
    width: 20%;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 0rem 8rem;
}

.card-info{
    padding: 3rem;
    border-radius: 1rem;
    border-bottom: 8px solid #310352;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem rgba(45, 45, 45, 0.1);

}

.name{
    font-size: 3rem;
    font-weight: bold;
    color: #371883;
}	

.biography{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}

@media (max-width: 768px) {
    .container-info{
        width: 100%;
    }
    .card-info {
        max-width: 100%; 
    }

    .name {
        font-size: 2rem; 
    }

    .biography {
        font-size: 1.2rem; 
    }
}

