html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    /* background: rgb(50, 36, 126); */
    font-family: 'Outfit', sans-serif;
}
canvas{
    touch-action: none;
}

.welcome-text {
    color: azure;
    padding: 1rem;
    user-select: none;
}